:root {
    /*Cores primárias*/
    --chinese-black: #101011;
    --white: #fff;

    /*Discografia*/
    --disco-bg-14: #537F79;
    --disco-controls-14: #282828;
    --disco-bg-15: #C999B0;
    --disco-controls-15: #3D6FAE;
    --disco-bg-17: #E64344;
    --disco-controls-17: #FFD700;
    --disco-bg-20: #44708D;
    --disco-controls-20: #F96684;
    --disco-bg-21: #3F1011;
    --disco-controls-21: #FFEAA7;

    /*Fontes*/
    --red-hat-display: "Red hat display", sans-serif;
    --aviano-serif: "Aviano serif", sans-serif;
    --red-hat-text: "Red hat text", sans-serif;
}


body {
    background-color: var(--chinese-black);
    color: var(--white);
    display: flex;
    flex-direction: column;
    margin: 0;
    scroll-behavior: smooth;
}

a.lancamento-text {
    color: white;
    text-decoration: unset;
    font-size: 1.5rem;
}

.divider {
    background-color: var(--white);
    width: 31.25rem;
    height: 0.1rem;
    align-self: center;
    margin: 5.5rem 0 4rem 0;
}

.divider.big {
    width: 40rem;
    margin: 0;
}

.divider.first {
    margin: 0;
}

.scroll-top {
    position: sticky;
    right: 1rem;
    background: url("/assets/images/scroll-top.svg") no-repeat;
    background-size: cover;
    width: 10rem;
    height: 10rem;
}