:root {
    /*Cores primárias*/
    --chinese-black: #141414;
    --white: #ffffff;
    --red: #FD0000;

    /*Discografia*/
    --disco-bg-14: #537F79;
    --disco-controls-14: #282828;
    --disco-bg-15: #C999B0;
    --disco-controls-15: #3D6FAE;
    --disco-bg-17: #E64344;
    --disco-controls-17: #FFD700;
    --disco-bg-20: #44708D;
    --disco-controls-20: #F96684;
    --disco-bg-21: #3F1011;
    --disco-controls-21: #FFEAA7;

    /*Fontes*/
    --red-hat-display: "Red hat display", sans-serif;
    --aviano-serif: "Aviano serif", sans-serif;
    --red-hat-text: "Red hat text", sans-serif;
}

body {
    background-color: var(--white);
    color: var(--chinese-black);
    box-sizing: border-box;
    margin: 0;
    height: inherit;
    transition: ease all 0.5s;
}

html {
    scroll-behavior: smooth;
}

.content-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 19rem;
}
/*----------------------------*/
/* Começo Header e nav*/
.header {
    width: 100%;
    height: 12rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    column-gap: 1rem;
    background: var(--white);
    z-index: 3;
    box-shadow: 0 0.005rem 0.5rem var(--chinese-black);
}

.main-icon {
    background: url("/assets/images/light/icon.svg") no-repeat;
    background-size: cover;
    cursor: pointer;
    width: 10rem;
    height: 5rem;
}

.switch-container {
    display: flex;
    align-items: center;
    border: 1px solid var(--chinese-black);
    width: 110px;
    height: 60px;
    border-radius: 10rem;
}

#sun {
    color: var(--red);
    width: 30px;
    height: 30px;
}

#moon {
    color: #00f;
    display: none;
}

.switch-button {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease 0.5s;
    background: #000 ;
    border-radius: 10rem;
    margin-left: 5px;
    width: 47px;
    height: 47px;
}

#switch {
    display: none;
}

.hidden-menu{
    display: flex;
    display: none;
}

.hidden-menu-image {
    background: url("/assets/images/light/menu-fechado.svg") no-repeat;
    background-size: cover;
    width: 3.5rem;
    height: 1.05rem;
}

.nav-bar {
    width: 55%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    column-gap: 1rem;
}

.nav-link {
    color: var(--chinese-black);
    font: normal 2.4rem var(--aviano-serif);
    text-decoration: unset;
    text-align: center;
}

.nav-link:hover {
    text-decoration: underline;
}
/*----------------------------------------------------------*/
/*Começo da seção biografia*/
.bio-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 23rem;
    gap: 2rem;
}

.images-container {
    position: relative;
}

.gradient {
    width: 40rem;
    height: 50rem;
    right: 2rem;
    position: absolute;
    background: radial-gradient(50% 50% at 50% 50%, #fc9429 0%, var(--white) 100%);
    z-index: -1;
}

.photo {
    z-index: 1;
    height: 45rem;
}

.signature {
    width: 30rem;
    height: 20rem;
    left: 7rem;
    bottom: -9rem;
    background: url("/assets/images/halsey-signature.png") no-repeat;
    border: #101011 1px;
    background-size: cover;
    position: absolute;
    z-index: 2;
}

.description-container{
    width: 75rem;
}

.description {
    font: 600 2.8rem var(--red-hat-display);
    text-align: center;
}
/*----------------------------------------------------------*/
/*Começo da Ultimo Lançamento*/

.release-container{
    display: flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    justify-content: space-evenly;
    row-gap: 1rem;
    width: 100%;
    height: 60rem;
    margin-top: 6rem;
    background: #9784c2;
}

.release-title{
    font: 500 4rem var(--aviano-serif);
    color: black;
    margin: 0;
}

.release-video{
    width: 80rem;
    height: 45rem;
}
/*----------------------------------------------------------*/
/*Começo do carrosel*/

.disco-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.disco-divider {
    background-color: var(--chinese-black);
    width: 80%;
    height: 0.05rem;
}

.disco-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 12rem;
}

.arrow-left {
    background: url("/assets/images/light/arrow-left.svg") no-repeat;
}

.arrow-right{
    background: url("/assets/images/light/arrow-right.svg") no-repeat;
}

.arrow-left, .arrow-right {
    cursor: pointer;
    background-size: cover;
    width: 4.2rem;
    height: 5.4rem;
}

.disco-title {
    font: 400 3.4rem var(--aviano-serif);
}

.carousel-container{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

#slide-1 {
    background: var(--disco-bg-14);
}

#slide-2, #text {
    background: var(--disco-bg-15);
}

#slide-3 {
    background: var(--disco-bg-17);
}

#slide-4 {
    background: var(--disco-bg-20);
}

#slide-5{
    background: var(--disco-bg-21);
}

.slide.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    justify-content: space-evenly;
    gap: 0.05rem;
    width: 80%;
    height: 60rem;
    border-radius: 1rem;
}

.slide{
    display: none;
}

.disco-data {
    font: 600 3.5rem var(--aviano-serif);
    color: var(--white);
    text-decoration: underline;
}

.disco-video{
    width: 55rem;
    height: 31rem;
}

.slide-content-container {
    display: flex;
    justify-content: space-around;
}

.bold {
    font-weight: bold;
}

.disco-description-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    row-gap: 2rem;
    align-items: center;
    width: 50%;
}

.disco-description {
    font: 400 2.5rem var(--red-hat-text);
    color: var(--white);
    text-align: center;
    margin:0;
}

.disco-halsey-description {
    font: italic 400 2.5rem var(--red-hat-text);
    color: var(--white);
    text-align: center;
}
/*----------------------------------------------------------*/
/*Começo do footer*/

.footer {
    width: 100%;
    height: 12rem;
    display: flex;
    justify-content: space-around;
    column-gap: 21rem;
    align-items: center;
    box-shadow: 0 -0.005rem 0.5rem var(--chinese-black);
}

.socials{
    display: flex;
    justify-content: space-around;
    width: 34%;
}


.social-icon{
    width: 5rem;
    height: 4rem;
    fill: var(--chinese-black);
}

.x-logo {
    display: inherit;
    background: url("/assets/images/light/Twitter X.svg") no-repeat;
    background-size: cover;
    width: 5rem;
    height: 4rem;
}

/*Scroll to top*/

.scroll-container{
    position: absolute;
    cursor: pointer;
}

.scroll-top {
    width: 6rem;
    height: 6.2rem;
    background: url("/assets/images/light/scroll-top.svg") no-repeat;
    background-size: cover;
    position: fixed;
    top: 48rem;
    right: 2.8rem;
}


@media screen and (max-width: 1920px) {
    .nav-link {
        font-size: 2rem
    }

    .bio-container{
        margin-top: 18rem;
    }

    .images-container {
        position: relative;
    }

    .gradient {
        width: 28rem;
        height: 32rem;
        right: 1rem;
    }

    .photo {
        height: 30rem;
    }

    .signature {
        width: 21rem;
        height: 15rem;
        left: 4rem;
        bottom: -7rem;
    }

    .description-container{
        width: 65rem;
    }

    .description {
        font: 600 2.2rem var(--red-hat-display);
        text-align: center;
    }

    .release-container{
        height: 42rem;
    }

    .release-title{
        font-size: 2.8rem;
    }

    .release-video {
        width: 55rem;
        height: 30rem;
    }

    .disco-title{
        font-size: 2.8rem;
    }

    .disco-controls{
        height: 8rem;
    }

    .arrow-right, .arrow-left{
        width: 3.2rem;
        height: 4rem;
    }

    .slide.active {
        height: 41rem;
    }

    .slide-content-container{
        justify-content: space-around;
        align-items: center;
    }

    .disco-data{
        font-size: 2.8rem;
    }

    .disco-description-container{
        width: 40%;
    }

    .disco-description, .disco-halsey-description{
        font-size: 1.8rem;
    }

    .disco-video{
        width: 45rem;
        height: 25rem;
    }
}
@media screen and (max-width: 1600px) {
    .content-container{
        row-gap: 15rem;
    }
    /* Começo Header e nav*/
    .header{
        height: 8.2rem;
    }
    .nav-link{
        font-size: 1.5rem;
    }
    .main-icon {
        width: 8rem;
        height: 4rem;
    }
    .switch-container {
        width: 72px;
        height: 45px;
    }
    #sun {
        width: 20px;
        height: 20px;
    }
    .switch-button {
        width: 37px;
        height: 37px;
    }
    /*-----------------------------*/
    /*Começo da seção biografia*/
    .bio-container{
        margin-top: 16rem;
        gap: 2rem;
    }
    .gradient {
        width: 20rem;
        height: 24rem;
        top: 1rem;
        right: 1rem;
    }
    .photo {
        width: 23rem;
        height: 23rem;
    }
    .signature {
        width: 16rem;
        height: 10.5rem;
        left: 4rem;
        bottom: -5rem;
    }

    .description-container{
        width: 48%;
    }
    .description {
        font-size: 1.8rem;
    }
    /*----------------------------------------------------------*/
    /*Começo da Ultimo Lançamento*/
    .release-container{
        height: 40rem;
    }
    .release-title{
        font-size: 2rem;
    }
    .release-video{
        width: 50rem;
        height: 28rem;
    }
    /*----------------------------------------------------------*/
    /*Começo do carrosel*/
    .disco-controls {
        width: 80%;
        height: 7rem;
    }

    .arrow-left, .arrow-right {
        width: 2.4rem;
        height: 3rem;
    }

    .carousel-container{
        margin-top: 0.5rem;
    }

    .disco-title {
        font-size: 2rem;
    }

    .disco-data {
        font-size: 2.5rem;
        margin-top: 2rem;
    }

    .disco-video{
        width: 39rem;
        height: 22rem;
    }

    .slide.active {
        height: 40rem;
        row-gap: 2rem;
    }

    .slide-content-container {
        height: 32rem;
    }

    .disco-description-container{
        height: 26rem;
    }

    .disco-description {
        font-size: 1.5rem;
    }

    .disco-halsey-description {
        font-size: 1.5rem;
    }

    /*----------------------------------------------------------*/
    /*Começo do footer*/
    .footer {
        height: 8.2rem;
    }

    .social-icon{
        height: 3rem;
    }

    .x-logo {
        width: 4rem;
        height: 3rem;
    }
    /*----------------------------------------------------------*/
    /*Scroll to top*/
    .scroll-top {
        width: 5.1rem;
        height: 5.2rem;
    }
}
@media screen and (max-width: 1440px) {
    .disco-controls {
        height: 6rem;
    }
    .disco-data{
        font-size:2rem;
    }
    .disco-description, .disco-halsey-description{
        font-size: 1.4rem;
    }
    .disco-video{
        width: 34rem;
        height: 19rem;
    }

    .slide.active{
        row-gap: 0.11rem;
    }
}
@media screen and (max-width: 1366px) {
    .content-container{
        row-gap: 10rem;
    }
    /*Começo da seção biografia*/
    .description-container{
        width: 40%;
    }

    .description {
        font-size: 1.5rem;
    }

    /*----------------------------------------------------------*/
    /*Começo da Ultimo Lançamento*/
    .release-container{
        height: 35rem;
    }
    .release-title{
        font-size: 1.8rem;
    }
    .release-video{
        width: 45rem;
        height: 24rem;
    }
    /*----------------------------------------------------------*/
    /*Começo do carrosel*/
    .disco-controls {
        width: 80%;
        height: 6rem;
    }
    .arrow-left, .arrow-right {
        width: 2.2rem;
        height: 2.8rem;
    }
    .disco-title {
        font-size: 1.8rem;
    }
    .disco-data {
        font-size: 2rem;
        margin-top: 2rem;
    }
    .disco-video{
        width: 35rem;
        height: 20rem;
    }
    .slide.active {
        height: 38rem;
        row-gap: 1rem;
    }
    .slide-content-container {
        height: 37rem;
    }
    .disco-description-container{
        height: 20rem;
    }
    .disco-description {
        font-size: 1.3rem;
    }
    .disco-halsey-description {
        font-size: 1.3rem;
    }
    /*----------------------------------------------------------*/
    /*Scroll to top*/
    .scroll-top {
        width: 4.6rem;
        height: 4.7rem;
    }
}
@media screen and (max-width: 1024px) {
    .main-icon{
        width: 6rem;
        height: 3rem;
    }

    a.nav-link {
        font-size: 1.1rem;
    }

    .switch-container{
        width: 68px;
        height: 38px;
    }

    .switch-button, .switch-button.dark {
        width: 30px;
        height: 30px;
    }

    .slide.active {
        height: 52rem;
        width: 120%;
        row-gap: 0.1rem;
    }

    .slide-content-container{
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 43rem;
    }

    .disco-divider{
        width: 63%;
    }

    .disco-data {
        margin: 0;
    }

    .disco-title {
        font-size: 1.5rem
    }

    .disco-controls{
        width: 63%;
        height: 4.5rem;
    }

    .arrow-right, .arrow-left{
        width: 1.7rem;
        height: 2.1rem;
    }

    .disco-video{
        width: 32rem;
        height: 17rem;
    }

    .disco-description-container, .disco-halsey-description {
        width: 35rem;
    }
}
@media screen and (max-width: 768px) {
    .header{
        column-gap: 1rem;
    }
    .nav-bar {
        display: none;
    }

    .show-menu{
        display: flex;
        position: absolute;
        background: white;
        flex-direction: column;
        justify-content: center;
        top: 8rem;
        z-index: -1;
        row-gap: 2rem;
        width: 100%;
        position: fixed;
        box-shadow: 1px 0.005rem var(--chinese-black);
    }

    .nav-bar.show-menu.dark {
        background: var(--chinese-black);
        box-shadow: 1px 0.005rem var(--white);
    }

    .new-icon-position {
        transform: rotate(90deg);
    }

    a.nav-link {
        font-size: 1.5rem;
        text-decoration: underline;
    }

    .hidden-menu {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 40%;
        cursor: pointer;
    }
}
