:root {
    /*Cores primárias*/
    --chinese-black: #101011;
    --white: #ffffff;
    --red: #FD0000;

    /*Discografia*/
    --disco-bg-14: #537F79;
    --disco-controls-14: #282828;
    --disco-bg-15: #C999B0;
    --disco-controls-15: #3D6FAE;
    --disco-bg-17: #E64344;
    --disco-controls-17: #FFD700;
    --disco-bg-20: #44708D;
    --disco-controls-20: #F96684;
    --disco-bg-21: #3F1011;
    --disco-controls-21: #FFEAA7;

    /*Fontes*/
    --red-hat-display: "Red hat display", sans-serif;
    --aviano-serif: "Aviano serif", sans-serif;
    --red-hat-text: "Red hat text", sans-serif;
}


body {
    background-color: var(--white);
    color: var(--chinese-black);
    box-sizing: border-box;
    margin: 0;
    height: inherit;
    transition: ease all 0.5s;
}

html {
    scroll-behavior: smooth;
}

.content-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 19rem;
}

/* Começo Header e nav*/
.header {
    width: 100%;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    column-gap: 33rem;
    background: var(--white);
    z-index: 3;
    box-shadow: 0 0.005rem 0.5rem var(--chinese-black);
}

.main-icon {
    background: url("/assets/images/light/icon.svg") no-repeat;
    background-size: cover;
    cursor: pointer;
    width: 10rem;
    height: 5rem;
}

.switch-container {
    display: flex;
    align-items: center;
    border: 1px solid var(--chinese-black);
    width: 100px;
    height: 60px;
    border-radius: 10rem;
}

#sun {
    color: var(--red);
    width: 30px;
    height: 30px;
}

#moon {
    color: #00f;
    display: none;
}

.switch-button {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease 0.5s;
    background: #000 ;
    border-radius: 10rem;
    margin-left: 5px;
    width: 47px;
    height: 47px;
}

#switch {
    display: none;
}


.nav-bar {
    width: 55%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1rem;
}

.nav-link {
    color: var(--chinese-black);
    font: normal 1.8rem var(--aviano-serif);
    text-decoration: unset;
}

.nav-link:hover {
    text-decoration: underline;
}
/*----------------------------------------------------------*/
/*Começo da seção biografia*/
.bio-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 23rem;
    gap: 2rem;
}

.images-container {
    position: relative;
}

.gradient {
    width: 30rem;
    height: 34rem;
    right: 1rem;
    position: absolute;
    background: radial-gradient(50% 50% at 50% 50%, #fc9429 0%, var(--white) 100%);
    z-index: -1;
}

.photo {
    z-index: 1;
}

.signature {
    width: 26rem;
    height: 18rem;
    left: 1rem;
    bottom: -9rem;
    background: url("/assets/images/halsey-signature.png") no-repeat;
    border: #101011 1px;
    background-size: cover;
    position: absolute;
    z-index: 2;
}

.description-container{
    width: 51rem;
}

.description {
    font: 600 2.2rem var(--red-hat-display);
    text-align: center;
}
/*----------------------------------------------------------*/
/*Começo da Ultimo Lançamento*/

.release-container{
    display: flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    justify-content: space-evenly;
    row-gap: 1rem;
    width: 100%;
    height: 54rem;
    margin-top: 6rem;
    background: #9784c2;
}

.release-title{
    font: 500 2.8rem var(--aviano-serif);
    color: black;
    margin: 0;
}

.release-video{
    width: 63rem;
    height: 36rem;
}
/*----------------------------------------------------------*/
/*Começo do carrosel*/

.disco-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.disco-divider {
    background-color: var(--chinese-black);
    width: 80%;
    height: 0.05rem;
}

.disco-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 9rem;
}

.arrow-left {
    background: url("/assets/images/light/arrow-left.svg") no-repeat;
}

.arrow-right{
    background: url("/assets/images/light/arrow-right.svg") no-repeat;
}

.arrow-left, .arrow-right {
    cursor: pointer;
    background-size: cover;
    width: 3.2rem;
    height: 4rem;
}

.disco-title {
    font: 400 2.5rem var(--aviano-serif);
}

.carousel-container{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

#slide-1 {
    background: var(--disco-bg-14);
}

#slide-2, #text {
    background: var(--disco-bg-15);
}

#slide-3 {
    background: var(--disco-bg-17);
}

#slide-4 {
    background: var(--disco-bg-20);
}

#slide-5{
    background: var(--disco-bg-21);
}

.slide.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    justify-content: space-around;
    gap: 0.05rem;
    width: 80%;
    height: 55rem;
    border-radius: 1rem;
}

.slide{
    display: none;
}

.disco-data {
    font: 600 3rem var(--aviano-serif);
    color: var(--white);
    margin: 60px 0 0 0;
    text-decoration: underline;
}

.disco-video{
    width: 55rem;
    height: 31rem;
}

.slide-content-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 49rem;
    column-gap: 1rem;
}

.bold {
    font-weight: bold;
}

.disco-description-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 2rem;
    align-items: center;
    width: 40%;
}

.disco-description {
    font: 400 2rem var(--red-hat-text);
    color: var(--white);
    text-align: center;
    margin:0;
}

.disco-halsey-description {
    font: italic 400 2rem var(--red-hat-text);
    color: var(--white);
    text-align: center;
}
/*----------------------------------------------------------*/
/*Começo do footer*/

.footer {
    width: 100%;
    height: 12rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0 -0.005rem 0.5rem var(--chinese-black);
}

.socials{
    display: flex;
    justify-content: space-evenly;
}


.social-icon{
    width: 15rem;
    height: 4rem;
    fill: var(--chinese-black);
}

.x-logo {
    display: inherit;
    background: url("/assets/images/light/Twitter X.svg") no-repeat;
    background-size: cover;
    width: 5rem;
    height: 4rem;
    margin: 0 4.5rem 0 5rem;
}

/*Scroll to top*/

.scroll-container{
    position: absolute;
    cursor: pointer;
}

.scroll-top {
    width: 6rem;
    height: 6.2rem;
    background: url("/assets/images/light/scroll-top.svg") no-repeat;
    background-size: cover;
    position: fixed;
    top: 48rem;
    right: 2.8rem;
}
