.biosection {
    height: 61rem;
}
.bio {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 73rem;
    position: relative;
}

.bio-gradient {
    display: inherit;
    position: absolute;
    background: radial-gradient(50% 50% at 50% 50%, #FD0000 0%, var(--chinese-black) 100%);
    width: 27.1875rem;
    height: 35.1875rem;
    border-radius: 35.1875rem;
    margin: 0;
    top: 18rem;
    left: 14rem;
}

.bio-image {
    background: url("/assets/images/halsey-picture.png") no-repeat;
    background-size: cover;
    width: 26.2rem;
    height: 30.375rem;
    position: absolute;
    top: 20rem;
    left: 12rem;
}

.bio-name {
    background: url("/assets/images/halsey-signature.png") no-repeat;
    background-size: cover;
    width: 26.2rem;
    height: 18rem;
    position: absolute;
    bottom: 13.990000000000002rem;
    left: 14rem;
}

.bio-text {
    text-align: center;
    width: 41.75rem;
    font: 400 2.312rem var(--red-hat-display);
    margin: 0;
}
