.discografia-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    margin: 10rem 0 10rem 0;
    background: var(--disco-bg-14);
    border-radius: 50px;
    width: 50%;
    height: 102rem;
}

.discografia-title, .discografia-data{
    font: 200 2rem/1.5rem var(--aviano-serif);
    margin: 0;
}

.discografia-title {
    margin: 0;
}

.discografia-controls{
    display: flex;
    justify-content: space-between;
    margin: 2rem;
    align-items: center;
    width: 31.25rem;
}

.discografia.divider {
    background-color: var(--disco-controls-14);
    height: 0.1rem;
    margin: 0;
}

.discografia.divider.top {
    margin: 5rem 0 0 0;
}

.arrow-left {
    background: url("/assets/images/arrow-left.svg") no-repeat;
}

.arrow-right{
    background: url("/assets/images/arrow-right.svg") no-repeat;
}

.arrow-left, .arrow-right {
    background-size: cover;
    width: 2.5rem;
    height: 3.125rem;
}

.music-preview{
    width: 31.3125rem;
    height: 18rem;
    margin:  5.56rem 0 4rem 0;
    border: 2rem solid #282828;
    border-top: none;
    border-bottom: none;
}

.bold {
    font-weight: 700;
}

.description-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 50rem;
    text-align: center;
    margin: 0;
}

.era-description {
    font: 400 2.3125rem var(--red-hat-text);
    margin: 0 0 0 0;
}

.halsey-description {
    font: 700 2.3125rem var(--red-hat-text);
    font-style: italic;
    margin: 0;
}

.era-description, .halsey-description {
    width: 45.5rem;
}

.slide.active{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slide{
    display: none;
}